{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% block css %}
       
    {% endblock css %}
        
    
    <title>Blog</title>
</head>
<body>
    
   

    
<!-- header starts -->
<header class="header">

    <a href="{% url 'post:post_list' %}" class="logo">Blog <span>Personal</span></a>

    <nav class="navbar">
        <a href="{% url 'post:contacto' %}">Contáctame</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </div>

    <form class="searchform" action="{% url 'post:post_list_palabra_clave' %}" method="GET">
        {% csrf_token %}
        <input type="text" name="search" id="search" placeholder="Buscar blog..." class="search-box">
        <button type="submit" style="font-size: 2rem;
        padding-left: 1rem;
        padding-right: .5rem;
        cursor: pointer;
        color: var(--black);"   class="fas fa-search"></button>
    </form>

</header>
<!-- header ends -->


<!-- Banner section starts -->


{% block banner %}
<section id="banner" class="banner">

    <div class="content">
        <h3>La ciencia está aquí!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aspernatur debitis. </p>
        
    </div>

</section>
{% endblock banner %}
    

<!-- Banner section ends -->


<!-- post section starts -->
    
    
    
        
    
    {% block main %}
    <section id="#posts" class="container">

        <div class="posts-container">
        <div class="post">
        {% block content %}
            
        {% endblock content %}
        </div> 
    </div>

        
        {% block sidebar %}
        <div class="sidebar">

            <div class="box">
                <h3 class="title">Acerca de mi</h3>
                
                    <div class="about">
                        <img src="{% static 'img/pic-1.png' %}" alt="user" class="image-user">
                        <h3>Dueño del Blog</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reiciendis voluptatem</p>
                        <div class="follow">
                            <a href="" class="fab fa-facebook-f"></a>
                            <a href="" class="fab fa-twitter"></a>
                            <a href="" class="fab fa-instagram"></a>
                            <a href="" class="fab fa-linkedin"></a>
                        </div>
                    </div>
                
            </div>
            
            {% block categorias %}
                
            
            
            {% endblock categorias %}

            
            {% block popular_post %}
                
            {% endblock popular_post %}
                
            
            {% block popular_tags %}
                
            {% endblock popular_tags %}
                
            

        </div>
        {% endblock sidebar %}
            

    </section>
    {% endblock main %}
        
    
<!-- post section ends -->


<!-- contact section starts -->

    
    {% block contact %}
    <section class="contact">

        <form action="">
            <h3>Contáctame</h3>
            <div class="inputBox">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Correo">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Número">
                <input type="text" placeholder="Tema">
            </div>
            <textarea name="" id="Mensaje" placeholder="Mensaje" cols="30" rows="10"></textarea>
            <input type="submit" value="Enviar mensaje" class="btn">
        </form>

    </section>
    {% endblock contact %}
        

<!-- contact section ends -->


<!-- footer starts -->

    <section class="footer">

        <div class="follow">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="credit">
            Creado por <span>Luis Felipe Echeverry</span>
        </div>

    </section>

<!-- footer ends -->
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>